{% extends 'index.html' %}

{% block menu-text%}Персональные данные{% endblock %}
{% block video %}

{% endblock %}
{% block conthead %}
	<h1 class="pt-5 ct-catalog"> 
		Политика в отношении обработки персональных данных
	</h1>
	<h2 class="mb-5 mt-3 ct-title"><span class="romb">Персональные данные</span></h2>
{% endblock %}

{% block content %}
<div class="row">
	 <div class="col-12 mb-5">
	 	<p>Я даю согласие на использование персональных данных исключительных целях:</p>
	 	<li>
	 		обработки персональных данных, которые необходимы для предоставления и оказания услуг Пользователю;
	 	</li>
		<li>создания, анализа и мониторинга клиентской базы; </li>
		<li>информирования Пользователя о конкурсах и рекламных акциях; </li>
		<li>информирования Пользователя о товарах, новых продуктах и услугах; </li>
		<li>информирования об акциях и специальных предложениях, коммерческих предложений; </li>
		<li>уведомления Пользователя о различных событиях. </li>
		<p>
			Настоящее согласие предоставляется мной на осуществление действий в отношении моих персональных данных, которые необходимы для достижения указанных выше целей, включая (без ограничения) сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, передачу третьим лицам для осуществления действий по обмену информацией, обезличивание, блокирование персональных данных, а также осуществление любых иных действий, предусмотренных действующим законодательством Кыргызской Республики.
		</p>
		<p>
			Я проинформирован, что обработка моих персональных данных гарантирована в соответствии с действующим законодательством Кыргызской Республики как неавтоматизированным, так и автоматизированным способами.
		</p>
		<p>
			Данное согласие действует до достижения целей обработки персональных данных или в течение срока хранения информации.
		</p>
		<p>
			Данное согласие может быть отозвано в любой момент по моему  письменному заявлению. 
		</p>
		<p>
			Я подтверждаю, что, давая такое согласие, я действую по собственной воле и в своих интересах.
		</p>
		<p class="fst-italic">
			* персональные данные: фамилия, имя, отчество; пол; дата рождения; тип документа, удостоверяющего личность; данные документа, удостоверяющего личность; гражданство; Электронный адрес Email, телефонный номер, адрес места жительства (по паспорту, фактический), дата регистрации по месту жительства.
		</p>
	</div>
</div>
{% endblock %}

{% block presentation %}
{% endblock %}

{% block contacts %}
{% endblock %}

