@font-face {
  font-family: "Gotham Pro Light";
  src: url("../fonts/gothampro_light.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Pro Bold";
  src: url("../fonts/gothampro_bold.ttf") format("truetype");
}

body{
	transition: background-color .6s ease;
}

::-webkit-scrollbar {

  width: 10px;
  behavior: 'smooth'
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: black; 
}

.fw-bold{
	font-weight: bold;
}

.break-col{
	display: none;
	width: 0;
}


.header-bg-img{
	content: "";
  background-size: cover;
  background-position: center center;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  width: 160px;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.header-vr, .header-vr-2{
	position: fixed;
	height: 100%;
	padding: 30px 10px;
	border-right: 1px solid lightgray;
	z-index:3;
	font-family: "Gotham Pro Light", sans-serif;	
}

.header-logo-d{
	width: 60px;
}

.header-logo-w{
	width: 60px;
	display: none;
}

.ph-catalog{
	display: none;
}

.theme-btn{
	position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.moon {
	display: block;
	background-color: black;
	margin-left: 10px;
	transition: display .6s ease;	
}

.moon path{
	fill: white;
}

.sun {
	display: none;
	background-color: white;
	margin-left: 10px;	
}

.sun path{
	fill: black;
}

.header-soc{
	position: fixed;
  top: 80%;
  left: 30px;
  -webkit-transform: translateY(-80%), translateX(-30px);
  -ms-transform: translateY(-80%), translateX(-30px);
  transform: translateY(-80%), translateX(-30px);
  font-size: 18px;
}

.fa{
  color: black;
  font-weight: bold !important;
}

.header-vr-2{
	top: 0;
	left: 80px;
	position: fixed;
	height: 100%;
	padding: 30px 25px 30px 20px;
}

.vertical{
    writing-mode:tb-rl;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform:rotate(180deg);
    transform: rotate(180deg);
    white-space:nowrap;
    display:block;
		letter-spacing: 4px;
		padding-right: 10px;
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Old versions of Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none;
}

.menu-btn{
	position: fixed;
  top: 50%;
  left: 100px;
  -webkit-transform: translateY(-50%), translateX(-100px);
  -ms-transform: translateY(-50%), translateX(-100px);
  transform: translateY(-50%), translateX(-100px);
  font-size: 13px;
  color: #33190f;
}

.catalog{
	position: fixed;
  top: 70%;
  left: 93px;
  -webkit-transform: translateY(-80%), translateX(-93px);
  -ms-transform: translateY(-80%), translateX(-93px);;
  transform: translateY(-80%), translateX(-93px);;
	font-size: 14px;
	color: black;
}

.catalog a {
	text-decoration: none;
	color: black;
}

#scroll-top{
	transform: rotate(0deg);
}

#scroll-top path{
	fill: white;
}

.scroll-top{
	position: fixed;
  left: 85px;
  font-size: 12px;
}

#scroll-per{
	position: fixed;
  top: 86.5%;
  left: 110px;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.modal-content{
	padding: 15px 20px;
}

.modal-title{
	padding-bottom: 0px;
	font-family: "Gotham Pro Bold", sans-serif;
	font-size: 25px;
	color: #333333;
}

.search-form{
	position: relative;
}

.search-inp{
  flex: 1;
	border: 2px solid lightgray;
	padding: 10px 10px;	
  width: 100%;	
}

.search-inp::placeholder{
	font-family: "Gotham Pro Light", sans-serif;
	font-weight: bold;
  color: gray;
}

.search-inp:focus  {
  outline: none;
	border-color: #F0BA84;
}

.btn-search-act{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #33190f;

}

.btn-search, .btn-search-act{
	font-size: 18px;
	padding-left: 15px;
	border: 0;
	background-color: transparent;
}

.background-section{
    letter-spacing: 1px;
  	font-family: "Gotham Pro Light", sans-serif;		
}

.video-block{
		display: inline-block;
		position: relative;
		z-index: -1;	
}

.video-block:before {
  content:"";
  position: absolute;
  top:0;
  right:0;
  left:0;
  bottom:8px;
  z-index:1;
  background-color:rgba(0, 0, 0, 0.3);
}

.video-hw{
		display: inline-block;
		position: relative;
		width: 100%;
}

.box-title{
	position: absolute;
	z-index: 1;
  top: 50%;
  left: 200px;
  transform: translateY(-50%);
  letter-spacing: 2px;
}


.line-shap:before {
		margin-right: 15px;
		content: "";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 3.5vw;
    height: 1px;
    background: gray;
}

.b-box{
	display: inline-block;
	padding: 10px;
	color: white;
	background-color: #33190f;
}

.letter-stroke {
		font-size: 60px;
    color: transparent;
    -webkit-text-stroke: 1.2px white;
    transform: scale(1, 1.1);
}

.video-title{
  font-size: 60px;
  transform: scale(1, 1.1);
  color: white;	
}

.video-subtitle{
	display: inline-block;
  font-size: 20px;
  color: white;	
}

.video-subtitle i{
	color: white;
}

.content{
	margin-left: 200px;
}

.bot-border{
	padding-bottom: 25px;
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, black 30%, lightgray 30%);
}

.transparent-bg{
	background-color: transparent !important;
}

.number-img{
  background-size: cover;
  background-position: center center;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
}

.number {
	font-family: "Gotham Pro Bold", sans-serif;			
	font-size: 200px;
  line-height: 170px;
  color: transparent;
  -webkit-text-stroke: 3.5px black;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transform: scale3d(1, 1.2, 1);
  margin-left: -5px;
  letter-spacing: 28px;
}

.number-border{
	border-left: 1px solid gray;
	padding-left: 50px;

}

.move-top {
  position: relative;
  top: 0;
  transition: top ease 0.6s;
}

.move-top:hover {
  top: -5px;
  transition: top ease 0.6s;

}
.btn-about {
	font-family: "Gotham Pro Bold", sans-serif;				
	font-size: 14px;
	text-decoration: none;
  text-align: center;
	color: black;
	cursor: pointer;
  position: relative;
  border: 1.5px solid lightgray;
	padding: 10px 20px;
/*	display: inline-block;
  transition: trans0.6s linear;*/
}

.btn-about:before {
  position: absolute;
  margin: 0px 7px;
  transition: margin .6s ease;
  display: block;
  content: '';
  border: 1.5px solid lightgray;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.btn-about:hover{
		color: black;
}
.btn-about:hover:before {
	border: 1.5px solid lightgray;
	color: black;
	margin: -6px 1px;
	transition: margin .6s ease;
}

.presentation{
	position: relative;
	background-color: #f1f1f1;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	padding: 60px 40px;
	height: 100%;
}

.presentation-bg{
	background-image: url("../../media/default_img/dileram_min.jpg");
	background-color: rgba(0,0,0,0.2);
	width: 100%;
	height: 100%;
  background-position: center center;
  background-blend-mode: multiply;	
	background-repeat: no-repeat;	
	padding: 60px 50px 60px 45%;

}

.present-play-btn{
	width: 125px;
	height: 125px;
	bottom: 50px;
	left: -75px;
	position: absolute;
  border-radius: 100px;
	border:12px solid rgba(92, 38, 16, 0.5);
	background-color: white;
  background-clip: padding-box;
	font-size: 20px;
}

.tb-border{
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	display: inline-block;
}

.title{
	background-color: #f1f1f1; 
	display: inline-block;
	margin: 0,0,15px;
	padding: 10px;
}

.subtitle{
	color: #B37735;
	margin: 10px;
	padding: 40px;
}

.bg-subtitle{
	background-color: #f1f1f1; 
	padding: 10px;
	margin-top: 20px;
	display: inline-block;
}

.card-border{
	border-left: 2px solid black;
	padding-left: 40px;
}

.card-btn{
	background-color: transparent;
	border: 1px solid gray;
	padding: 10px 20px;
	color: black;
	font-size: ;
	text-decoration: none;
}

.office-block{
  background: linear-gradient(to bottom, #f1f1f1 70%, #23110D 70%);
  margin: 45px 0px 45px -40px;
	padding: 50px 70px 0px ;
}

.coop-text{
	text-decoration: none;
	font-weight: lighter;
}

.office-btn{
	background-color: #f1f1f1;
	padding: 10px 20px;
	color: #B37735;
  font-weight: lighter;
  z-index: 2;
	position: absolute;
  top: 80%;
}

.ct-icon{
	font-size:20px;
	margin-right: 10px;
}

.ct-controll{
	background-color: #f1f1f1;
	border: 1px solid lightgray;
	padding: 10px 20px;	
  width: 90%;	
  margin: 10px 0px;
}

.ct-controll::placeholder{
	font-family: "Gotham Pro Bold", sans-serif;
  color: rgb(0, 0, 0);
}

.form-switch .form-check-input:checked {
  background-color: #B37735;
  border-color: white;
}

.form-switch .form-check-input:focus {
  box-shadow: 0 0 4px 4px yellow;
  border-color: yellow;
}

.send-btn{
	font-family: "Gotham Pro Bold", sans-serif;
	font-size: 14px;
	letter-spacing: 2px;			
  background-color: #23110D;
  color: white;		
	border: 1px solid gray;
	padding: 10px 25px;
	margin: 20px 20px !important;
}

.contact-box{
	background-color: #f1f1f1;
  position: relative;
  font-weight: bold;
}

.contact-box a{
	color: #B37735;
}


.tr-start {
	  position: absolute;
	  top: 4px;
	  left: 4px;
		display: inline-block;
    border-right: 50px solid transparent;
    border-top: 50px solid white;

}

.tr-end {
	  position: absolute;
	  bottom: 4px;
	  right: 4px;
		display: inline-block;
		align-self: flex-end;
    border-left: 50px solid transparent;
    border-bottom: 50px solid white;
}

/*.style-box::before {
    top: 51px;
    right: 8px;
    border-right: 50px solid transparent;
    border-top: 50px solid black;

}

.style-box::after {
    border-left: 50px solid transparent;
    border-bottom: 50px solid black;
    top: 178px;
    left: 118px;

}

.style-box::before, .style-box::after {
    content: "";
    width: 0;
    height: 0;
    position: relative;
}*/



.ct-catalog, .dtype-title{
	padding-top: 50px;
	font-size: 62px;
	letter-spacing: 2px;
	color: transparent;
    -webkit-text-stroke: 1.2px black;
}

.ct-title{
	position: relative;
	font-size: 62px;
  letter-spacing: 2px;
}

.subcategory-bg{
	position: relative;
}

.subcategory-bg::before {
  content:"";
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background: rgba(0,0,0,0.3);
  z-index:1;
}

.romb{
	position: relative;
	padding-left: 80px;

}
.romb::before{
	content: "";
	position: absolute;
}

.romb::before{
  transform-origin: bottom left;
	left: 0;
  top: 0;
  width: 100px;
  height: 100%;
  background-color: #F1F1F1;
  z-index: -1;
  transform: skew(-10deg);
}

.subcategory-bgtext{
	position: absolute;
  top: 40%;
  left: 20%;
  transform: translateY(-50%);
  transform: translateX(0%);
  color: white;
	font-size: 62px;
	font-weight: lighter;
  letter-spacing: 2px;
  z-index: 2;
  display: block;
}

.subcategory-bgtext .romb::before{
  background-color: #33190f;
}

.door-card{
	width: auto;
	height: 32vw;
	text-align: center;
	display: inline-block;
}	

/*.door-img{
	max-width: 100%;
	max-height: 100%;
  height: auto;
  min-height: 200px;
  vertical-align: middle;
}*/

.door-text{
	color: black;
	font-size: 22px;
	padding: 0px 20px;
	margin-top: 20px;
	display: inline-block;
}

.dtype-card{
	position: relative;
	width: 100%;
	height: 28vw;
	min-height: 270px;
}

.dtype-img{
	width: 100%;
	height: 100%;
	object-fit: cover;
  object-position: center;
}

.dtype-text{
	color: black;
	font-size: 22px;
	border-left: 2px solid black;
	padding: 0px 20px;
	margin-top: 20px;
	display: inline-block;
}

.other-door-btn{
	padding: 10px 20px;
	border: 1px solid lightgray;
	color: #B37735;
	text-decoration: none;
}

.other-door-btn:hover{
	background-color: whitesmoke;
}

.other-door-btn i{
	color:#B37735;
}

.dtype-title{
	padding: 50px 0px;
}

.dtype-descrp{
	margin-top: 25px;
	padding: 25px 0px;
	border-top: 1px solid black;
	color: black;
}

.door-attr-card{
	margin-top: -50px; 
	padding-left: 50px;
}

.door-attr {
  color: black;
  font-weight: 400;
}

.door-attr span{
  color: #a68762;
  font-weight: 600;
  margin-right: 4px;
}

.thumb-ct{
	width:60px; 
	height: 115px;
	padding: 5px;

}

.ct-btn{
	margin: 0px 20px !important;
	opacity: 1 !important;
}

.ct-btn.active img{
	border: 1px solid black;
  border-radius: 5px;
}

.carousel-item img{
  vertical-align: middle;
  border-style: none;
  width: 100%;
  height: auto;
  image-rendering:optimizeSpeed;         
  image-rendering:-moz-crisp-edges;        
  image-rendering:-o-crisp-edges;            
  image-rendering:-webkit-optimize-contrast; 
  image-rendering:optimize-contrast;         
  image-rendering:crisp-edges;               
  image-rendering:pixelated;                 
  -ms-interpolation-mode:nearest-neighbor;   
}

.door-caution{
	margin-top: 100px;
}

.footer{
  	font-family: "Gotham Pro Light", sans-serif;	
		border-top: 1px solid lightgray;
		margin-top: 40px;
		background-color: #f1f1f1;
		padding: 50px 0px;
	  margin: 45px 0px 0px -40px;
}

.footer-logo-d{
	width: 70px;
}

.footer-logo-w{
	display: none;
	width: 70px;
}

.dark-mode {
  background-color: #23110D;
  color: white;
  transition: background-color .6s ease;
}

.dark-mode::-webkit-scrollbar-thumb {
  background: white; 
}

.dark-mode .header-logo-d{
	display: none;
}

.dark-mode .header-logo-w{
	display: block;
	transition: display .6s ease;	
}

.dark-mode .moon {
	display: none;
}

.dark-mode .sun {
	display: block;
}


.dark-mode .menu-btn{
	color: white;
}

.dark-mode .catalog{
		color: white;
}

.dark-mode .fa{
	color: white;
	font-weight: lighter !important;
}

.dark-mode .title{
  background-color: #33190f;
  color: white;
}


.dark-mode .bot-border{
	padding-bottom: 25px;
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, white 30%, #383838 30%);
}

.dark-mode .bg-subtitle{
	color: #FFC47E;
	background-color: #33190f; 
}

.dark-mode .number{
  -webkit-text-stroke: 3.5px white;
}

.dark-mode .btn-about{
	color: white;
}

.dark-mode .presentation{
	background-color: #33190f; 
}

.dark-mode .catalog a {
	text-decoration: none;
	color: white;
}

.dark-mode .tb-border{
	border-top: 1px solid #383838;
	border-bottom: 1px solid #383838; 
}

.dark-mode .—Åarousel-title{
 	background-color: white;	
 	color: black;
}

.dark-mode .card-btn{
	border: 1px solid #383838;
	color: white;
}
.dark-mode .office-block{
  background: linear-gradient(to bottom, #33190f 70%, #ffffff 70%);
}

.dark-mode .office-btn{
	color: #FFC47E;
	background-color: #33190f; 
}
.dark-mode .ct-controll{
	background-color: #33190f;
	border: 1px solid #383838;
	color: white;
}

.dark-mode .ct-controll::placeholder{
  color: white;
}

.dark-mode .contact-box{
	background-color: #33190f;
}

.dark-mode .contact-box a{
	color: #FFC47E;
}

.dark-mode .tr-start {
    border-top: 50px solid #23110D;
}

.dark-mode .tr-end {
    border-bottom: 50px solid #23110D;
}

.dark-mode .send-btn{
  background-color: white;
  color: black;		

}

.dark-mode .romb::before{
  background-color: #33190f;
}

.dark-mode .dtype-text{
	color: white;
	border-left: 2px solid white;
}

.dark-mode .other-door-btn{
	border: 1px solid gray;
	color: #FFC47E;
}

.dark-mode .dtype-title{
  -webkit-text-stroke: 1.2px white;
}

.dark-mode .ct-catalog{
  -webkit-text-stroke: 1.2px white;
}

.dark-mode .other-door-btn:hover{
	background-color: #33190f;
}
.dark-mode .door-attr {
  color: white;
}

.dark-mode .dtype-descrp{
  color: white;
}

.dark-mode .ct-btn.active img{
	border: 1px solid #FFC47E;
  border-radius: 5px;
}


.dark-mode .footer{
  background-color: #33190f;
	border-top: 1px solid #383838;
  color: white;		
}

.dark-mode .footer hr{
  background-color: #383838;
}

.dark-mode .footer-logo-d{
	display: none;
}

.dark-mode .footer-logo-w{
	display: block;
}

